/* Inicio Skills*/
.skills{
    width:100%;
}
.titulo-skill{
    background: #ffffff;
    text-align: center;
    color: #1d1d1d;
}
.linea-skill{
    padding: 1.5rem;
    color: #19191b;
    line-height: 0;
}
.caja-skill{
    width: 70%;
    margin-left: 15%;
    align-self: center;
    height: auto;
    border: 0.5rem solid #ffffff80;
    border-color: #e5deef;
    background: #eeeeee;
}
.nuevo{
    width: 8rem;
    margin-top: 1rem;
}
/* Fin Skills*/